.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > hr {
    margin: .5rem 0;
    height: 1px;
    border: none;
    background-color: var(--gray-600);
}

strong {
    color: var(--green-300);
}

time {
    color: var(--gray-400);
}

