.header {
    background: var(--gray-800);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.25rem 3rem;
    height: 80px;
}

.links > span + span {
    margin-left: 2rem;
}

.lg {
    font-size: 2rem;
    font-weight: bold;
}

.sm {
    font-size: 1.25rem;
    font-weight: bold;
}