.wrapper {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.wrapper > hr {
    margin: .5rem 0;
    height: 1px;
    border: none;
    background-color: var(--gray-600);
}

.form {
    padding-top: .5rem;
    display: flex;
    flex-wrap: wrap;
}

.body {
    border: none;
    width: 100%;
    height: 8rem;
    border-radius: 8px;
    padding: .5rem;
    background-color: var(--gray-600);
    color: var(--gray-200);
}

.submit {
    background: transparent;
    color: var(--green-500);
    border: 1px solid var(--green-500);
    border-radius: 0.5rem;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;


    gap: 0.5rem;

    transition: color 0.1s, background 0.1s;
}

.container {
    display: flex;
}

.row {
    padding-top: .5rem;
    flex: 1;
}